  <footer class="footer-distributed">

  <div class="footer-left">
  <%= image_tag "Accenture-Logo-Only.png"%>
  <h3>One Pager</h3>
  </div>

  <div class="footer-center">


  </div>

  <div class="footer-right">

  <p class="footer-company-about">
  <span>About the creation of this page</span>
    This page has been created as part of a coding challenge for Accenture
  <span> </span>
  <span>Contact</span>
  </p>



  <div class="footer-icons">

  <a href="https://www.linkedin.com/in/lino-maurer/"><i class="fab fa-linkedin-in"></i></a>
  <a href="https://github.com/lino-m"><i class="fab fa-github"></i></a>

  </div>

  </div>

  </footer>

