<section id="hero-area">
  <div class="container-headlines">
    <div class="headline-hero acc-line">
      <p>LET THERE BE CHANGE</p>
    </div>
    <div class="headline-hero my-line">
      <p>AND A JOURNEY</p>
    </div>
  </div>

  <!-- Scroll Prompt -->
  <span class="scroll-btn">
    <a href="#">
      <span class="mouse">
        <span>
        </span>
      </span>
    </a>
    <div class="scroll-prompt" id="js_scrollPrompt">
      <div class="scroll-prompt-shape"></div>
    </div>
    <div class="scroll-prompt2" id="js_scrollPrompt">
      <div class="scroll-prompt-shape2"></div>
    </div>
  </span>

  <!-- Page Mission -->
  <div class="page-mission">
    <p>Getting to know someone or something is an exciting experience - a journey.</p>
    <p>End every journey starts with a first step.</p>
  </div>
</section>

<section id="journey-first-step" class="padding-section-y">
  <div class="container">
    <div class="section-header"></div>
    <div class="row"></div>
  </div>
</section>
