.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.card-facet {
  .own-perspective {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 16px;
    padding: 12px;
  }
  p {
    width: 100%;
  }

  hr {
    border: 2px solid;
    width: 20%;
    margin-left: 0;
  }
  img {
    height: 360px;
    width: 100%;
    object-fit: cover;
  }
}
