.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.card-facet {
  margin-bottom: 24px;
  .own-perspective {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 18px;
    margin-bottom: 16px;
    padding: 0px;
    transition: .3s ease;
  }
  p {
    width: 100%;
    margin-bottom: 0px;
  }

  hr {
    border: 2px solid;
    width: 20%;
    margin-left: 0;
    transition: .5s ease;
  }
  img {
    height: 360px;
    width: 100%;
    object-fit: cover;
  }
}

.card-facet:hover {
  .own-perspective {
    font-size: 20px;
    font-weight: bolder;
  }
  hr {
    width: 80%;
  }
}
