.content-section {
  text-align: center;
  margin: 42px auto;
  .section-header h2 {
    font-weight: 900 !important;
    font-size: 3rem;
  }
  .section-header hr {
    width: 50%;
    border: 2px solid black;
    border-radius: 4px;
  }
}

.content-box {
  margin: 16px auto;
  width: 80%;
  text-align: left;
  .text {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}

.traits {
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: center;
}
